transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

transform-x-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

transform-y-center {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}